@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .like-grad {
    background-image: linear-gradient(135deg, #450af5, #c4efd9);
  }
  .main-grad {
    background-image: linear-gradient(
      to bottom,
      #1f1f1f,
      #191919,
      #131313,
      #0b0b0b,
      #000000
    );
  }
  .preview-grad {
    background-image: linear-gradient(90deg, #af2896, #509bf5);
  }
  .nav-h {
    height: calc(100vh - 64px);
  }
 
}

@layer base {
  html,
  body,
  #root {
    @apply antialiased;
  }
}
